<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
 * Title: 订单支付 数据库操作
 * Description: 订单支付信息
 * Company: com.sg920
 * author: luomj
 * time:2017-09-06 23:34:44
 * version 1.0
-->
<mapper namespace="com.sg.order.dao.master.OrderPaymentDao">
    <resultMap id="dataResultMap" type="java.util.Map">
            <result property="id" column="id"/>
            <result property="orderNo" column="order_no"/>
            <result property="paymentType" column="payment_type"/>
            <result property="paymentAccount" column="payment_account"/>
            <result property="paymentTotal" column="payment_total"/>
            <result property="orderTotal" column="order_total"/>
            <result property="payTime" column="pay_time"/>
    </resultMap>

    <sql id="table">sg_order_payment</sql>

    <sql id="column-part">
            id,
            order_no,
            payment_type,
            payment_account,
            payment_total,
            order_total,
            pay_time
    </sql>

    <sql id="value-part">
            #{entity.id:VARCHAR},
            #{entity.orderNo:VARCHAR},
            #{entity.paymentType:VARCHAR},
            #{entity.paymentAccount:VARCHAR},
            #{entity.paymentTotal:DECIMAL},
            #{entity.orderTotal:DECIMAL},
            #{entity.payTime:TIMESTAMP}
    </sql>

    <sql id="set-part">
        <if test="entity.id != null">id = #{entity.id:VARCHAR}, </if>
        <if test="entity.orderNo != null">order_no = #{entity.orderNo:VARCHAR}, </if>
        <if test="entity.paymentType != null">payment_type = #{entity.paymentType:VARCHAR}, </if>
        <if test="entity.paymentAccount != null">payment_account = #{entity.paymentAccount:VARCHAR}, </if>
        <if test="entity.paymentTotal != null">payment_total = #{entity.paymentTotal:DECIMAL}, </if>
        <if test="entity.orderTotal != null">order_total = #{entity.orderTotal:DECIMAL}, </if>
        <if test="entity.payTime != null">pay_time = #{entity.payTime:TIMESTAMP}, </if>
    </sql>

    <sql id="where-part">
        <if test="terms != null">
            <where>
                <if test="terms.id != null and terms.id !=''">and id = #{terms.id} </if>
                <if test="terms.orderNo != null and terms.orderNo !=''">and order_no = #{terms.orderNo} </if>
                <if test="terms.paymentType != null and terms.paymentType !=''">and payment_type = #{terms.paymentType} </if>
                <if test="terms.paymentAccount != null and terms.paymentAccount !=''">and payment_account = #{terms.paymentAccount} </if>
                <if test="terms.paymentTotal != null and terms.paymentTotal !=''">and payment_total = #{terms.paymentTotal} </if>
                <if test="terms.orderTotal != null and terms.orderTotal !=''">and order_total = #{terms.orderTotal} </if>
                <if test="terms.payTime != null and terms.payTime !=''">and pay_time = #{terms.payTime} </if>
            </where>
        </if>
    </sql>

    <insert id="insert">
        insert into
        <include refid="table"/>
        (
        <include refid="column-part"/>
        ) VALUES (
        <include refid="value-part"/>
        )
    </insert>
    <insert id="insertBatch" parameterType="List">
        insert into <include refid="table"/>(
        <include refid="column-part"/>
        ) VALUES
        <foreach collection="list" item="entity" index="index" separator=",">
            (
            <include refid="value-part"/>
            )
        </foreach>
    </insert>
    <update id="update">
        UPDATE
        <include refid="table"/>
        <set>
            <include refid="set-part"/>
        </set>
        <where>
            id = #{entity.id}
        </where>
    </update>

    <update id="updateByMap">
        update
        <include refid="table"/>
        <set>
            <include refid="set-part"/>
        </set>
        <where>
            <include refid="where-part"/>
        </where>
    </update>

    <delete id="delete">
        DELETE FROM
        <include refid="table"/>
        WHERE id = #{id}
    </delete>

    <delete id="deleteByMap" >
        delete from
        <include refid="table"/>
        <where>
            <include refid="where-part"/>
        </where>
    </delete>

    <delete id="deleteBatch">
        delete from
        <include refid="table"/>
        where id in
        <foreach item="item" index="object" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="fetch" resultMap="dataResultMap">
        select
        <include refid="column-part"/>
        from
        <include refid="table"/>
        where id = #{id}
    </select>

    <select id="find" resultMap="dataResultMap">
        select
        <include refid="column-part"/>
        from
        <include refid="table"/>
        <include refid="where-part"/>
        <if test="sort != null">
            <foreach collection="sort" item="s" index="index" separator="," open="order by ">
                ${s.property} ${s.direction}
            </foreach>
        </if>
    </select>
    <select id="count" resultType="java.lang.Long">
        select count(id)
        from
        <include refid="table"/>
        <include refid="where-part"/>
    </select>

    <select id="page" resultMap="dataResultMap">
        select
        <include refid="column-part"/>
        from
        <include refid="table"/>
        <include refid="where-part"/>
        <if test="sort != null">
            <foreach collection="sort" item="s" index="index" separator="," open="order by ">
                ${s.property} ${s.direction}
            </foreach>
        </if>
        limit #{page.offset}, #{page.size}
    </select>
</mapper>